html {
  background-color: ivory;
}

body {
  background-color: #dbf6fd;
}

.background2 {
  background-color: #e9b7b7;
}

.background3 {
  background-color: #fdf2db;
}

.background4 {
  background-color: #e1fddb;
}

.background5 {
  background-color: #fad6ea;
}

.background6 {
  background-color: #dbf6fd;
}

.background7 {
  background-color: #fadada;
}

.background8 {
  background-color: #68f5ff;
}

.background9 {
  background-color: #c2bebe;
}

.background10 {
  background-color: #eac3ff;
}

.font1 {
  font-family: merriweather-sans;
}

.font2 {
  font-family: lemonada;
}

.back {
  background-color: ivory;
  right: 1;
}

.back2 {
  background-color: rgb(168, 165, 165);
  right: 1;
}
.sidenav {
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden;
}

.sidenavr {
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden;
}

#wordlink {
  color: black;
  padding-top: 11px;
}

.text-center {
  text-align: center;
}

.main-title {
  padding-top: 10px;
  padding-bottom: 30px;
}
.image {
  display: block;
  max-width: 100%;
  height: auto;
}

.image--center {
  margin-left: auto;
  margin-right: auto;
}

.image--circle {
  border-radius: 50%;
}
/* #fdebdb */
