{% extends 'base.html' %}
{% block title %} Tengen Toppa Gurren Lagann Deck {% endblock %}
{% block body %}
<div class='sidenav'>
    <img src="{{ url_for('static', filename='images/gurren-lagann-sidebar1.jpg') }}" width='200' height="1000">
</div>
<div class='sidenavr'>
    <img src="{{ url_for('static', filename='images/gurren-lagann-sidebar2.jpg') }}" width='200' height="1000">
</div>
<div class="background8">
    <div class="container">
        <h2 class="font1">Climax</h2>
        <div class="row font2">
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_GL/S52-088">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/gl-s52-088.gif" width="275"
                    height="200">
                </a>    
                <h6>My Drill Is the Drill That Creates the Heavens!!!! X 4</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_GL/S52-030">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/gl-s52-030.gif" width="275"
                    height="200">
                </a>    
                <h6>Later, Buddy X 4</h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
        </div>

        <div class="row font2">
            <h2 class="font1">Main Deck</h2>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_GL/S52-064">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/gl-s52-064.gif" width="200"
                    height="275">
                </a>    
                <h6>Boota, Full Member of the Dai-Gurren Brigade X 1</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_GL/S52-023">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/gl-s52-023.gif" width="200"
                    height="275">
                </a>    
                <h6>Leeron, Maiden's Heart X 2</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_GL/S52-078">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/gl-s52-078.gif" width="200"
                    height="275">
                </a>
                <h6>Lagann, Lagann Impact! X 4</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_GL/S52-034">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/gl-s52-034.gif" width="200"
                    height="275">
                </a>                
                <h6>Viral, Beastman X 2</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_GL/S52-001">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/gl-s52-001.gif" width="200"
                    height="275">
                </a>    
                <h6>Yoko, Unexpected Kiss X 2</h6>
            </div>
        </div>

        <div class="row font2">
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_GL/S52-060">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/gl-s52-060.gif" width="200"
                    height="275">
                </a>    
                <h6>Simon, to Save His Beloved Woman X 2</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_GL/S52-068">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/gl-s52-068.gif" width="200"
                    height="275">
                </a>    
                <h6>Gurren Lagann X 3</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_GL/S52-042">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/gl-s52-042.gif" width="200"
                    height="275">
                </a>    
                <h6>Nia, Her Feelings X 2</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_GL/S52-002">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/gl-s52-002.gif" width="200"
                    height="275">
                </a>    
                <h6>Kamina X 4</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_GL/S52-084">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/gl-s52-084.gif" width="200"
                    height="275">
                </a>    
                <h6>Core Drill X 2</h6>
            </div>
        </div>

        <div class="row font2">
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_GL/S52-074">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/gl-s52-074.gif" width="200"
                    height="275">
                </a>    
                <h6>Simon & Nia, Feelings Getting Across X 4</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_GL/S52-018">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/gl-s52-018.gif" width="200"
                    height="275">
                </a>    
                <h6>Kamina, Reject Common Sense to Make the Impossible Possible! X 1</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_GL/S52-076">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/gl-s52-076.gif" width="200" height="275">
                </a>    
                <h6>Arc-Gurren Lagann X 3</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_GL/S52-003">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/gl-s52-003.gif" width="200" height="275">
                </a>
                <h6>Yoko X 1</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_GL/S52-069">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/gl-s52-069.gif" width="200" height="275">
                </a>
                <h6>Super Galaxy Dai-Gurren X 2</h6>
            </div>
        </div>

        <div class="row font2">
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_GL/S52-070">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/gl-s52-070.gif" width="200"
                    height="275">
                </a>    
                <h6>Super Galaxy Gurren Lagann X 2</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_GL/S52-063">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/gl-s52-063.gif" width="200"
                    height="275">
                </a>
                <h6>Tengen Toppa Gurren LagannX 2</h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
    </div>
    <div class="row">
        <div class="col">
            <h6> </h6>
        </div>
        <div class="col">
            <h6> </h6>
        </div>
        <div class="col">
            <h6> </h6>
        </div>
        <div class="col">
            <h6> </h6>
        </div>
        <div class="col">
            <h6> </h6>
        </div>
        <div class="col">
            <h6> </h6>
        </div>
        <div class="col">
            <h6> </h6>
        </div>
        <div class="col">
            <a href="/"><button class='btn font1 back2' type="button">Home</button></a>
            <div class="col">
                <h6> </h6>
            </div>
        </div>
    </div>
</div>
{% endblock %}