{% extends 'base.html' %}
{% block title %} Mako and Ryuuko Deck {% endblock %}
{% block body %}
<div class="sidenav">
    <img src="{{ url_for('static', filename='images/kill-la-kill-title-card1.png') }}" width='200' height="1000">
</div>
<div class="sidenavr">
    <img src="{{ url_for('static', filename='images/kill-la-kill-title-card2.png') }}" width='200' height="1000">
</div>
<div class="background3">
    <div class="container">
        <h2 class="font1">Climax</h2>
        <div class="row font2">
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-069">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-069.gif" width="275" height="200">
                </a>    
                <h6>Fated Battle X 4</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-019">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-019.gif" width="275" height="200">
                </a>
                <h6>I Said, It's My Turn! X 4</h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
        </div>
        
        <div class="row font2">
            <h2 class="font1">Main Deck</h2>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/SP03-01">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-sp03-01.gif" width="200" height="275">
                </a>
                <h6>Ryuko & Mako, Family And Bond X 2</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-003">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-003.gif" width="200" height="275">
                </a>
                <h6>Mako, Worrying X 2</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-009">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-009.gif" width="200" height="275">
                </a>
                <h6>Mako, Unmoving X 3</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-046">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-046.gif" width="200" height="275">
                </a>
                <h6>Ryuko, First Encounter with Senketsu X 4</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-045">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-045.gif" width="200" height="275">
                </a>
                <h6>Senketsu, Ryuko's Outfit X 3</h6>
            </div>
        </div>

        <div class="row font2">
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/SP03-02">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-sp03-02.gif" width="200" height="275">
                </a>
                <h6>"Man And Cloth as One" Senketsu X 1</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-066">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-066.gif" width="200" height="275">
                </a>
                <h6>Junketsu X 4</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/SP03-04">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-sp03-04.gif" width="200" height="275">
                </a>    
                <h6>"Berserk" Ryuko X 4</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/SP03-03">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-sp03-03.gif" width="200" height="275">
                </a>
                <h6>Ryuko, Scissors Blade Dual Decapitation Mode X 4</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-001">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-001.gif" width="200" height="275">
                </a>
                <h6>Mako, Not-so-great Daughter of Illegitimate Doctor X 3</h6>
            </div>
        </div>

        <div class="row font2">
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-018">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-018.gif" width="200" height="275">
                </a>
                <h6>Classic Trap X 2</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-067">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-067.gif" width="200" height="275">
                </a>
                <h6>Red Gauntlet X 2</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-007">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-007.gif" width="200" height="275">
                </a>
                <h6>Ryuko, Fighting Club Member X3</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-042">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-042.gif" width="200"
                    height="275">
                </a>
                <h6>Ryuko, Decided to Wear and Finish the Fight! X 2</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-002">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-002.gif" width="200"
                    height="275">
                </a>    
                <h6>Mako, Can't Be Stopped X 3</h6>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <a href="/"><button class='btn font1 back2' type="button">Home</button></a>
                <div class="col">
                    <h6> </h6>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}