{% extends 'base.html' %}
{% block title %} Nui Harime Deck {% endblock %}
{% block body %}
<div class="sidenav">
    <img src="{{ url_for('static', filename='images/kill-la-kill-title-card1.png') }}" width='200' height="1000">
</div>
<div class="sidenavr">
    <img src="{{ url_for('static', filename='images/kill-la-kill-title-card2.png') }}" width='200' height="1000">
</div>
<div class="background5">
    <div class="container">
        <h2 class="font1">Climax</h2>
        <div class="row font2">
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-039">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-039.gif" width="275"
                    height="200">
                </a>
                <h6>Unexpected Confession X 4</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-040">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-040.gif" width="275"
                    height="200">
                </a>
                <h6>Shinra-Koketsu, Absolute Domination! X 4</h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
        </div>

        <div class="row font2">
            <h2 class="font1">Main Deck</h2>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-032">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-032.gif" width="200"
                    height="275">
                </a>
                <h6>Nui, Being Whimsy X 3</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-003">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-003.gif" width="200"
                    height="275">
                </a>
                <h6>Mako, Worrying X 3</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-080">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-080.gif" width="200"
                    height="275">
                </a>
                <h6>Gamagouri, Keeping the Moral X 4</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/SP03-06">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-sp03-06.gif" width="200"
                    height="275">
                </a>
                <h6>"Kamui Junketsu" Satsuki X 3</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-027">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-027.gif" width="200" height="275">
                </a>
                <h6>Nui, Grand Couture X 4</h6>
            </div>
            
        </div>

        <div class="row font2">
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-030">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-030.gif" width="200" height="275">
                </a>
                <h6>Nui, Ready-Made X 4</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-038">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-038.gif" width="200"
                    height="275">
                </a>
                <h6>Disguise X 4</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-021">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-021.gif" width="200"
                    height="275">
                </a>
                <h6>Ragyo, Planning for Birth of Cocoon Planet X 4</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-024">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-024.gif" width="200"
                    height="275">
                </a>
                <h6>Nui, Owner of Scissors X 3</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-025">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-025.gif" width="200" height="275">
                </a>
                <h6>Nui, Passing by X 4</h6>
            </div>
        </div>

        <div class="row font2">
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-096">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-096.gif" width="200"
                    height="275">
                </a>
                <h6>Soroi's Black Tea X 2</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-026">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-026.gif" width="200" height="275">
                </a>
                <h6>Ragyo, CEO of REVOCS X 2</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-022">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-022.gif" width="200"
                    height="275">
                </a>
                <h6>Nui, Threaded Gears of Fate X 3</h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <a href="/"><button class='btn font1 back2' type="button">Home</button></a>
                <div class="col">
                    <h6> </h6>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}