{% extends 'base.html' %}
{% block title %} Ragyo Deck {% endblock %}
{% block body %}
<div class="sidenav">
    <img src="{{ url_for('static', filename='images/kill-la-kill-title-card1.png') }}" width='200' height="1000">
</div>
<div class="sidenavr">
    <img src="{{ url_for('static', filename='images/kill-la-kill-title-card2.png') }}" width='200' height="1000">
</div>
<div class="background4">
    <div class="container">
        <h2 class="font1">Climax</h2>
        <div class="row font2">
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-100">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-100.gif" width="275"
                    height="200">
                </a>    
                <h6>Honnouji Elite Four, Final Form Outfit! X 4</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-040">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-040.gif" width="275"
                    height="200">
                </a>
                <h6>Shinra-Koketsu, Absolute Domination! X 4</h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
        </div>    

            <div class="row font2">
                <h2 class="font1">Main Deck</h2>
                <div class="col">
                    <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-074">
                        <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-074.gif" width="200"
                        height="275">
                    </a>    
                    <h6>Satsuki, First Step to the Goal X 4</h6>
                </div>
                <div class="col">
                    <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-003">
                        <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-003.gif" width="200"
                        height="275">
                    </a>    
                    <h6>Mako, Worrying X 2</h6>
                </div>
                <div class="col">
                    <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-080">
                        <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-080.gif" width="200"
                        height="275">
                    </a>    
                    <h6>Gamagouri, Keeping the Moral X 4</h6>
                </div>
                <div class="col">
                    <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/SP03-06">
                        <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-sp03-06.gif" width="200"
                        height="275">
                    </a>
                    <h6>"Kamui Junketsu" Satsuki X 4</h6>
                </div>
                <div class="col">
                    <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-049">
                        <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-049.gif" width="200" height="275">
                    </a>
                    <h6>Isshin, Ryuko's Father X 4</h6>
                </div>
            </div>

            <div class="row font2">
                <div class="col">
                    <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-076">
                        <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-076.gif" width="200"
                        height="275">
                    </a>    
                    <h6>Satsuki, Incredible Spirit X 4</h6>
                </div>
                <div class="col">
                    <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-030">
                        <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-030.gif" width="200" height="275">
                    </a>
                    <h6>Nui, Ready-Made X 4</h6>
                </div>
                <div class="col">
                    <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-038">
                        <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-038.gif" width="200"
                        height="275">
                    </a>    
                    <h6>Disguise X 2</h6>
                </div>
                <div class="col">
                    <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-021">
                        <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-021.gif" width="200"
                        height="275">
                    </a>
                    <h6>Ragyo, Planning for Birth of Cocoon Planet X 4</h6>
                </div>
                <div class="col">
                    <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-029">
                        <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-029.gif" width="200"
                        height="275">
                    </a>    
                    <h6>"Mental Refitting" Ragyo X 1</h6>
                </div>
            </div>

            <div class="row font2">
                <div class="col">
                    <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-096">
                        <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-096.gif" width="200"
                        height="275">
                    </a>
                    <h6>Soroi's Black Tea X 4</h6>
                </div>
                <div class="col">
                    <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-026">
                        <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-026.gif" width="200" height="275">
                    </a>
                    <h6>Ragyo, CEO of REVOCS X 4</h6>
                </div>
                <div class="col">
                    <h6> </h6>
                </div>
                <div class="col">
                    <h6> </h6>
                </div>
                <div class="col">
                    <h6> </h6>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h6> </h6>
                </div>
                <div class="col">
                    <h6> </h6>
                </div>
                <div class="col">
                    <h6> </h6>
                </div>
                <div class="col">
                    <h6> </h6>
                </div>
                <div class="col">
                    <h6> </h6>
                </div>
                <div class="col">
                    <h6> </h6>
                </div>
                <div class="col">
                    <h6> </h6>
                </div>
                <div class="col">
                    <a href="/"><button class='btn font1 back2' type="button">Home</button></a>
                    <div class="col">
                        <h6> </h6>
                    </div>
                </div>
            </div>
        </div>
</div>
    {% endblock %}