{% extends 'base.html' %}
{% block title %} Ryuuko and Satsuki Deck {% endblock %}
{% block body %}
<ul>
    {% for card in climax %}
    <li style='list-style: none' id='card'>
        <img src="{{card}}" width="275" height="200">
    </li>
    <h6>{{climax[card]}}</h6>
    {% endfor %}
    {% for card in full_deck %}
    <li style='list-style: none' id='card'>
        <img src="{{card}}" width="200" height="275">
    </li>
    <h6>{{full_deck[card]}}</h6>
    {% endfor %}
</ul>
{% endblock %}

<!-- climax={'https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-069.gif': 'Fated Battle X 4',
'https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-068.gif': 'Graduating from Sailor Uniform X 4',
}, full_deck={'https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-sp03-06.gif': '"Kamui Junketsu"
Satsuki X 4', 'https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-sp03-01.gif': 'Ryuko & Mako, Family
And Bond X 2', 'https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-046.gif': 'Ryuko, First
Encounter with Senketsu X 3', 'https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-045.gif':
"Senketsu, Ryuko's Outfit X 4", 'https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-074.gif':
'Satsuki, First Step to the Goal X 4',
'https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-sp03-04.gif': '"Berserk" Ryuko X 3',
'https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-sp03-03.gif': 'Ryuko, Scissors Blade Dual
Decapitation Mode X 4', 'https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-041.gif': 'Ryuko, to a
New Self X 3', 'https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-066.gif': 'Junketsu X 4',
'https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-sp03-07.gif': 'Satsuki, For the Survival of Mankind
X 3', 'https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-048.gif': 'Ryuko, Declaration of War! X
3', 'https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-042.gif': 'Ryuko, Decided to Wear and
Finish the Fight! X 2', 'https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-sp03-05.gif': '"Senketsu
Koui" Ryuko X 3', } -->
