{% extends 'base.html' %}
{% block title %} Shichika Hachiretsu Kai Deck {% endblock %}
{% block body %}
<div class='sidenav'>
    <img src="{{ url_for('static', filename='images/katanagatari-sidebar1.jpg') }}" width='200' height="1000">
</div>
<div class='sidenavr'>
    <img src="{{ url_for('static', filename='images/katanagatari-sidebar2.jpg') }}" width='200' height="1000">
</div>
<div class="background7">
    <div class="container">
        <h2 class="font1">Climax</h2>
        <div class="row font2">
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KG/SE07-42">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/kg-se07-42.gif" width="275"
                    height="200">
                </a>
                <h6>Cheerio! X 3</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KG/SE07-43">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/kg-se07-43.gif" width="275"
                    height="200">
                </a>
                <h6>Shichika Hachiretsu (Kai) X 3</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KG/SE07-44">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/kg-se07-44.gif" width="275" height="200">
                </a>
                <h6>Clash: Nanami versus Shichika X 2</h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
        </div>

        <div class="row font2">
            <h2 class="font1">Main Deck</h2>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KG/SE07-27">
                    <img src="https://images.littleakiba.com/tcg/card3949-medium.jpg" width="200"
                    height="275">
                </a>
                <h6>Togame, Encounter with Shichika X4</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KG/SE07-34">
                    <img src="https://images.littleakiba.com/tcg/card3961-medium.jpg" width="200"
                    height="275">
                </a>    
                <h6>Brainwork Specialist Togame X 2</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KG/SE07-36">
                    <img src="https://images.littleakiba.com/tcg/card3965-medium.jpg" width="200"
                    height="275">
                </a>    
                <h6>Schemer Togame X 4</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KG/SE07-37">
                    <img src="https://images.littleakiba.com/tcg/card3967-medium.jpg" width="200"
                    height="275">
                </a>    
                <h6>"7th Master of Kyoutouryuu" Shichika Yasuri X 4</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KG/SE07-35">
                    <img src="https://images.littleakiba.com/tcg/card3963-medium.jpg" width="200"
                    height="275">
                </a>    
                <h6>“Head of the Yasuri Household” Yasuri Nanami X 2</h6>
            </div>
        </div>

        <div class="row font2">
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KG/SE07-38">
                    <img src="https://images.littleakiba.com/tcg/card3968-medium.jpg" width="200"
                    height="275">
                </a>    
                <h6>Nanami Yasuri, Weak yet Genius X 4</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KG/SE07-39">
                    <img src="https://images.littleakiba.com/tcg/card3970-medium.jpg" width="200"
                    height="275">
                </a>    
                <h6>"Togame's Blade" Shichika Yasuri X 4</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KG/SE07-40">
                    <img src="https://images.littleakiba.com/tcg/card3972-medium.jpg" width="200"
                    height="275">
                </a>    
                <h6>Getting Psyched Togame X 4</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KG/SE07-41">
                    <img src="https://images.littleakiba.com/tcg/card3974-medium.jpg" width="200"
                    height="275">
                </a>    
                <h6>Togame, Smart Strategies and Knacks X 3</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KG/SE07-30">
                    <img src="https://images.littleakiba.com/tcg/card3955-medium.jpg" width="200"
                    height="275">
                </a>    
                <h6>"First Stance 『Suzuran』" Yasuri Shichika X 4</h6>
            </div>
        </div>

        <div class="row font2">
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KG/SE07-33">
                    <img src="https://images.littleakiba.com/tcg/card3959-medium.jpg" width="200"
                    height="275">
                </a>    
                <h6>Yasuri Nanami X 3</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KG/SE07-32">
                    <img src="https://images.littleakiba.com/tcg/card3958-medium.jpg" width="200"
                    height="275">
                </a>    
                <h6>Kyotou 「Yasuri」 X 4</h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <a href="/"><button class='btn font1 back2' type="button">Home</button></a>
                <div class="col">
                    <h6> </h6>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}